obj/
pseudo/
main

tests/lexer/test_lexer
tests/set/test_set
tests/nfa/test_nfa
tests/nfa/*.dot
tests/nfa/*.svg
tests/parser/test_parser
tests/parser/dots
tests/parser/svgs
tests/control/test_control
